[Unit]
Description=Voluspa Scraper

[Service]
ExecStart=/root/.nvm/versions/node/v18.12.1/bin/node /root/voluspa-scraper/scrape.js
WorkingDirectory=/root/voluspa-scraper
Restart=always
RestartSec=10
SyslogIdentifier=voluspa-scraper

[Install]
WantedBy=multi-user.target
